.container {
  max-width: 42em;
  margin: auto;
  text-align: center;
  background-color: #fbfff8;
}

h1 {
  position: relative;
}

h1 sup {
  position: absolute;
  font-size: 0.4em;
  font-style: italic;
  color: red;
}

.spinner div {
  margin: 2em auto;
}

table {
  width: 55%;
  margin: auto;
  text-align: center;
  border-collapse: separate;
}

tr td {
  text-align: center;
  width: 50%;
}